*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: rgb(0, 0, 0);
    color: white;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    justify-content: space-between;
    min-width: 50vh;
    min-height: 75vh;
}
input, button {
    width: 100%;
    text-align: center;
}