body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}
main{
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
    gap: 1rem;
    width: 300PX;
    height: 300PX;
}